<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>95Avenue</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/new-age.min.css" rel="stylesheet">

  <!-- Awesome Search Bar -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="main">95Avenue</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="main">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="learnmore">Learn More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://github.com/ktjylsj/3A">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="subhead" id="header">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-11 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5"> <strong> Advertising Analysis AI </strong></h1>
            <div class="header-content mx-auto">
              <h4 class="mb-5"> <strong>3A는 많은 광고로 인해 필요한 정보를 얻는 것에 어려움을 겪고있는 사람들을 위해 <br> 제작되었습니다.</strong> </h4>
              <p class="mb-5">
                사람들은 노골적인 광고 글보다 일반적 경험을 토대로 한 비 광고성 글의 정보를 더 선호합니다.
                이를 이용하여 협찬, 홍보 여부를 명시하지 않고 그 내용을 이미지로 만들어 하단에 삽입함으로써 비 광고 글을 사칭해 소비자에게 혼란을 야기하고, 검색의 질을 떨어뜨립니다.

                이러한 문제점을 보완하기 위해 사용자가 브라우저를 통해 포털 사이트에서 검색했을 때, 글의 내용과 삽입된 이미지에 집중하여 해당 글이 광고 글인지 판단을 하는 프로그램을 계획하게 되었습니다.

                <p class="mb-5">
                  <strong>더이상 글을 읽으며 광고인지 의심하지 않아도 됩니다.</strong> 
                  <br>
                  검색하고 싶은 키워드를 입력하세요. 그리고 우리가 제공하는 질좋은 검색 결과를 받아보세요.
                  <br>
                  <br>
                </p>
                <p class="mb-5">
                  제작자: 광운대학교 컴퓨터공학과 (김태진, 김지홍, 이소영, 정지현)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<footer>
  <div class="container">
    <p>&copy; Your Website 2019. All Rights Reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/new-age.min.js"></script>

</body>

</html>
